{
  "openapi": "3.1.0",
  "info": {
    "title": "Flow Control - Flow Store",
    "description": "Flow Store"
  },
  "servers": [
    {
      "url": "http://flow-store.intgus1.ciscoccservice.com/flow-store",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "User Preferences",
      "description": "APIs to manage user-specific UI preferences."
    },
    {
      "name": "Flow Tracing APIs",
      "description": "APIs to query tracing data of flows. Allowed scopes: [`cjp:config_read`]"
    },
    {
      "name": "Flow V2",
      "description": "V2 IR-based flow APIs (FDL 2.0) for LLM/MCP agent use. Allowed scopes are [`cjp:config_write`, `cjp:config_read`]"
    },
    {
      "name": "Flow",
      "description": "APIs to manage flows/subflows. Allowed scopes are [`cjp:config_write`, `cjp:config_read`]"
    },
    {
      "name": "Flow Resource Collection APIs",
      "description": "APIs to retrieve RCs for current user with simplified permission metadata for FC UI"
    },
    {
      "name": "Flow Template APIs",
      "description": "APIs to manage flow templates. Allowed scopes are [`cjp:config_write`, `cjp:config_read`]"
    }
  ],
  "paths": {
    "/{orgId}/userPreferences": {
      "get": {
        "tags": [
          "User Preferences"
        ],
        "summary": "Get user preferences for a project",
        "description": "Returns user interface preferences associated with a project.",
        "operationId": "getUserPreferences",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User Preferences"
        ],
        "summary": "Update user preferences for a project",
        "description": "Updates user interface preferences associated with a project.",
        "operationId": "updateUserPreferences",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          }
        ],
        "requestBody": {
          "description": "User preference payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPreferences"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Preferences"
        ],
        "summary": "Create user preferences for a project",
        "description": "Creates user interface preferences associated with a project.",
        "operationId": "createUserPreferences",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          }
        ],
        "requestBody": {
          "description": "User preference payload",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserPreferences"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreferences"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User Preferences"
        ],
        "summary": "Delete user preferences for a project",
        "description": "Deletes user interface preferences associated with the authenticated user.",
        "operationId": "deleteUserPreferences",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          },
          {
            "name": "user",
            "in": "query",
            "description": "Optional user identifier (ID or username). When specified the corresponding record will be deleted.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{orgId}/project/{projectId}": {
      "get": {
        "tags": [
          "project-controller"
        ],
        "operationId": "findProject",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "project-controller"
        ],
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "project-controller"
        ],
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "project-controller"
        ],
        "operationId": "patchProject",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}": {
      "get": {
        "tags": [
          "Flow"
        ],
        "operationId": "findFlowById",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "basic"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Flow"
        ],
        "operationId": "updateFlowById",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Flow"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Flow"
        ],
        "operationId": "removeFlowById",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "no"
            }
          },
          {
            "name": "skipRsEPCheck",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Flow"
        ],
        "operationId": "mergePatchFlow",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonMergePatch"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}/preferences": {
      "get": {
        "tags": [
          "flow-property-controller"
        ],
        "operationId": "getFlowPreferences",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SeqFlowPreference"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "flow-property-controller"
        ],
        "operationId": "updateFlowPreferences",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeqFlowPreference"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SeqFlowPreference"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "flow-property-controller"
        ],
        "operationId": "createFlowPreference",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeqFlowPreference"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SeqObject"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "flow-property-controller"
        ],
        "operationId": "removeFlowPreferencesByPreferenceNames",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeqString"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SeqFlowPreference"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/connector/{connectorId}": {
      "get": {
        "tags": [
          "connector-controller"
        ],
        "operationId": "getConnector",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "connector-controller"
        ],
        "operationId": "updateConnector",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Connector"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Connector"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "connector-controller"
        ],
        "operationId": "deleteConnector",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/templates/{id}": {
      "get": {
        "tags": [
          "Flow Template APIs"
        ],
        "summary": "Retrieve flow/subflow template by template ID.",
        "description": "Returns flow/subflow template by template ID, if found.",
        "operationId": "findById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Flow/Subflow Template to be fetched.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreFF",
            "in": "query",
            "description": "Whether to return the template even if feature flag is off",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request: Possible causes - mandatory parameter not supplied or parameter value not in right format/datatype.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Possible causes - User is not authorized to complete this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowTemplate"
                }
              }
            }
          },
          "404": {
            "description": "Not Found: Possible causes - No records found (incorrect ID, no result matching ID).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowTemplate"
                }
              }
            }
          },
          "200": {
            "description": "OK: Successfully retrieved the requested Flow or Subflow template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowTemplate"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Flow Template APIs"
        ],
        "summary": "Update a flow/subflow template by its ID.",
        "description": "Updates flow/subflow template by template ID, if found.",
        "operationId": "updateTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Flow/Subflow Template to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request: Possible causes - flow template json not provided in request body, structure of template/flow is not correct, template name is not unique.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Possible causes - User is not authorized to complete this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowTemplate"
                }
              }
            }
          },
          "200": {
            "description": "OK: Successfully updated the requested Flow or Subflow template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowTemplate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Flow Template APIs"
        ],
        "summary": "Delete a flow/subflow template by its ID.",
        "description": "Deletes flow/subflow template by template ID, if found.",
        "operationId": "deleteFlowTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Flow/Subflow Template to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isForceDeletion",
            "in": "query",
            "description": "If hard delete should be completed rather than soft delete",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request: Possible causes - Incorrect request parameters sent.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Possible causes - User is not authorized to complete this operation."
          },
          "404": {
            "description": "Not Found: Possible causes - No records found matching the provided template id."
          },
          "200": {
            "description": "OK: Successfully updated the requested Flow or Subflow template."
          }
        }
      }
    },
    "/admin/flowsync-offset/{id}": {
      "put": {
        "tags": [
          "admin-flow-controller"
        ],
        "summary": "Put flowSyncOffset",
        "description": "Update offset date used for running flowSyncJob",
        "operationId": "updateFlowSyncOffset",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the flowsync offset entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowSyncOffset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowSyncOffset"
                }
              }
            }
          }
        }
      }
    },
    "/admin/analytics/unprocessed-interactions/{id}": {
      "put": {
        "tags": [
          "admin-flow-controller"
        ],
        "summary": "Update unprocessed summary",
        "description": "Provides the ability to update `status` and `retrialAttempt` of an unprocessed summary",
        "operationId": "updateUnprocessedSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the unprocessed summary entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnprocessedSummary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessedSummary"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-flow-controller"
        ],
        "summary": "Delete unprocessed summary",
        "description": "Delete an unprocessed summary entry with the given id",
        "operationId": "deleteUnprocessedSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the unprocessed summary entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/analytics/cron-logistics/{id}": {
      "put": {
        "tags": [
          "admin-flow-controller"
        ],
        "operationId": "updateCronScheduleStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapStringString"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoxedUnit"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "admin-flow-controller"
        ],
        "summary": "Delete cron schedule entry",
        "description": "Delete a cron schedule entry with the given id",
        "operationId": "deleteCronSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the cron schedule entry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project": {
      "get": {
        "tags": [
          "project-controller"
        ],
        "operationId": "findAll",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SeqProject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "project-controller"
        ],
        "operationId": "createProject",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Project"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows": {
      "get": {
        "tags": [
          "Flow"
        ],
        "summary": "List Flows or Subflows",
        "description": "Returns a list of flows in response\n\nScope: `cjp:config_read`. Roles: [`Organizational Full Admin`, `Supervisor`, `Contact Center Service Admin`, `User Admin`]",
        "operationId": "findFlows",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID. System generated value which is the same across orgs and environments. Always use: 5e5c9ad6d61f870d6d778c1b.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5e5c9ad6d61f870d6d778c1b"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the number of the displayed page. The page number starts from 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "Defines the number of items to be displayed on a page. If the number specified is more than allowed max page size, the API will automatically adjust the page size to the max page size.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 10
          },
          {
            "name": "flowType",
            "in": "query",
            "description": "Either of 'FLOW' or 'SUBFLOW'.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            },
            "example": "FLOW"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Filters results based on a comma-separated list of flow IDs. If provided, only flows with those IDs will be fetched in the response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "668e4b2d928d471e41da03d1,668e3ee2928d471e41da03cb"
          },
          {
            "name": "partialNameSearch",
            "in": "query",
            "description": "Performs a partial string match on the name of the flow. If the flow name contains the given string it will be fetched.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "example": "flow1"
          },
          {
            "name": "includePagination",
            "in": "query",
            "description": "If set to to true then a different paginated response object containing the page metadata (currentPage, totalRecords, pageSize, totalPages) will be returned. The flow objects will be in an array named \"data\".",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "isValidation",
            "in": "query",
            "description": "This field is used by the TM team to validate the existence of functions with certain IDs regardless of the RBAC access of the user.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "saveFlow",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Flow"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows:variable-mapping": {
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "performFlowVariableAutoMapping",
        "parameters": [
          {
            "name": "orgId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentFlowId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handOffFlowId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handOffTagId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "handOffVariableSource",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowVariableMapping"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows:unique-name": {
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "checkFlowNameUniqueness",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          },
          {
            "name": "flowId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlowNameUniqueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows:import": {
      "post": {
        "tags": [
          "Flow"
        ],
        "summary": "Import a Flow or Subflow",
        "description": "Returns the imported flow/subflow in response.\n\nScope: `cjp:config_write`. Roles: [`Organizational Full Admin`, `Supervisor`, `Contact Center Service Admin`, `User Admin`]",
        "operationId": "importFlowVersion",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID. System generated value which is the same across orgs and environments. Always use: 5e5c9ad6d61f870d6d778c1b.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5e5c9ad6d61f870d6d778c1b"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Determines whether to overwrite the existing flow or not. Possible values: yes/no.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "no"
            },
            "example": "yes"
          },
          {
            "name": "flowType",
            "in": "query",
            "description": "Either of 'FLOW' or 'SUBFLOW'.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            },
            "example": "FLOW"
          },
          {
            "name": "Content-Length",
            "in": "header",
            "description": "Content length value in number of bytes.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "name": "associatedRcs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Multipart file to import"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "BAD REQUEST: Possible causes - Import file size exceeded the limit. File parse error. Flow name is empty. Invalid flow type. Invalid activity.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "CREATED: Flow or Subflow is created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicFlowDTO"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Possible causes - User is not authorized to complete this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicFlowDTO"
                }
              }
            }
          },
          "409": {
            "description": "CONFLICT: A flow/subflow with the same name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicFlowDTO"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows:copy": {
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "copyFlow",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceFlowId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "associatedRcs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "default": [],
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows:consume": {
      "post": {
        "tags": [
          "Flow APIs",
          "Flow"
        ],
        "summary": "Create a new flow/subflow from the JSON string provided.",
        "description": "Creates a new flow/subflow from the JSON string provided.",
        "operationId": "consumeFlowFromJson",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID. System generated value which is the same across orgs and environments. Always use: 5e5c9ad6d61f870d6d778c1b.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5e5c9ad6d61f870d6d778c1b"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Determines whether to overwrite any existing flow/subflow or not. Possible values: true/false",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          },
          {
            "name": "flowType",
            "in": "query",
            "description": "Either of 'FLOW' or 'SUBFLOW'",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            },
            "example": "FLOW"
          },
          {
            "name": "templateName",
            "in": "query",
            "description": "Name of the Template",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Simple_Inbound_Template"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "description": "Flow to be created, as JSON string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request: Possible causes - flow json not provided in request body, structure of flow is not correct, flow name is not unique, max content length exceeded, etc.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Possible causes - User is not authorized to complete this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicFlowDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created: Successfully created the requested Flow or Subflow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicFlowDTO"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows:consume-template": {
      "post": {
        "tags": [
          "Flow APIs",
          "Flow"
        ],
        "summary": "Create a new flow/subflow from the template.",
        "description": "Creates a new flow/subflow from the templateId.",
        "operationId": "consumeFlowFromTemplate",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID. System generated value which is the same across orgs and environments. Always use: 5e5c9ad6d61f870d6d778c1b.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5e5c9ad6d61f870d6d778c1b"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Determines whether to overwrite any existing flow/subflow or not. Possible values: true/false",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          },
          {
            "name": "flowType",
            "in": "query",
            "description": "Either of 'FLOW' or 'SUBFLOW'",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            },
            "example": "FLOW"
          },
          {
            "name": "templateName",
            "in": "query",
            "description": "The name of the Flow/Subflow Template to be used.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowName",
            "in": "query",
            "description": "Name of the Flow to be created/overwritten",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "My_New_Flow"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request: Possible causes - template doesn't exist, structure of flow is not correct, flow name is not unique, max content length exceeded, etc.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Possible causes - User is not authorized to complete this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicFlowDTO"
                }
              }
            }
          },
          "201": {
            "description": "Created: Successfully created the requested Flow or Subflow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicFlowDTO"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}:unlock": {
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "unlockFlow",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "100 CONTINUE",
                    "101 SWITCHING_PROTOCOLS",
                    "102 PROCESSING",
                    "103 EARLY_HINTS",
                    "103 CHECKPOINT",
                    "200 OK",
                    "201 CREATED",
                    "202 ACCEPTED",
                    "203 NON_AUTHORITATIVE_INFORMATION",
                    "204 NO_CONTENT",
                    "205 RESET_CONTENT",
                    "206 PARTIAL_CONTENT",
                    "207 MULTI_STATUS",
                    "208 ALREADY_REPORTED",
                    "226 IM_USED",
                    "300 MULTIPLE_CHOICES",
                    "301 MOVED_PERMANENTLY",
                    "302 FOUND",
                    "302 MOVED_TEMPORARILY",
                    "303 SEE_OTHER",
                    "304 NOT_MODIFIED",
                    "305 USE_PROXY",
                    "307 TEMPORARY_REDIRECT",
                    "308 PERMANENT_REDIRECT",
                    "400 BAD_REQUEST",
                    "401 UNAUTHORIZED",
                    "402 PAYMENT_REQUIRED",
                    "403 FORBIDDEN",
                    "404 NOT_FOUND",
                    "405 METHOD_NOT_ALLOWED",
                    "406 NOT_ACCEPTABLE",
                    "407 PROXY_AUTHENTICATION_REQUIRED",
                    "408 REQUEST_TIMEOUT",
                    "409 CONFLICT",
                    "410 GONE",
                    "411 LENGTH_REQUIRED",
                    "412 PRECONDITION_FAILED",
                    "413 PAYLOAD_TOO_LARGE",
                    "413 REQUEST_ENTITY_TOO_LARGE",
                    "414 URI_TOO_LONG",
                    "414 REQUEST_URI_TOO_LONG",
                    "415 UNSUPPORTED_MEDIA_TYPE",
                    "416 REQUESTED_RANGE_NOT_SATISFIABLE",
                    "417 EXPECTATION_FAILED",
                    "418 I_AM_A_TEAPOT",
                    "419 INSUFFICIENT_SPACE_ON_RESOURCE",
                    "420 METHOD_FAILURE",
                    "421 DESTINATION_LOCKED",
                    "422 UNPROCESSABLE_ENTITY",
                    "423 LOCKED",
                    "424 FAILED_DEPENDENCY",
                    "425 TOO_EARLY",
                    "426 UPGRADE_REQUIRED",
                    "428 PRECONDITION_REQUIRED",
                    "429 TOO_MANY_REQUESTS",
                    "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
                    "451 UNAVAILABLE_FOR_LEGAL_REASONS",
                    "500 INTERNAL_SERVER_ERROR",
                    "501 NOT_IMPLEMENTED",
                    "502 BAD_GATEWAY",
                    "503 SERVICE_UNAVAILABLE",
                    "504 GATEWAY_TIMEOUT",
                    "505 HTTP_VERSION_NOT_SUPPORTED",
                    "506 VARIANT_ALSO_NEGOTIATES",
                    "507 INSUFFICIENT_STORAGE",
                    "508 LOOP_DETECTED",
                    "509 BANDWIDTH_LIMIT_EXCEEDED",
                    "510 NOT_EXTENDED",
                    "511 NETWORK_AUTHENTICATION_REQUIRED"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}:revert": {
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "revertFlowVersion",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}:remove-rs": {
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "removeRoutingStrategyFromFlow",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rsId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}:publish": {
      "post": {
        "tags": [
          "Flow"
        ],
        "summary": "Publish a Flow or Subflow",
        "description": "Returns the published flow in response\n\nScope: `cjp:config_read`. Roles: [`Organizational Full Admin`, `Supervisor`, `Contact Center Service Admin`, `User Admin`]",
        "operationId": "publishFlowVersion",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "description": "Organization ID.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "8eb7da9a-c81c-4d13-b08b-38fdeb7330d8"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID. System generated value which is the same across orgs and environments. Always use: 5e5c9ad6d61f870d6d778c1b.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "5e5c9ad6d61f870d6d778c1b"
          },
          {
            "name": "flowId",
            "in": "path",
            "description": "ID of the flow/subflow to export.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "661c7bc712eaf357de7e4aeb"
          },
          {
            "name": "skipValidation",
            "in": "query",
            "description": "Skip validation of the flow before publishing.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          },
          {
            "name": "TrackingId",
            "in": "header",
            "description": "ID for tracking.",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "example": "491fed1e-de7f-11ef-9cd2-0242ac120002"
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishParameters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}:lock": {
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "lockFlow",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "100 CONTINUE",
                    "101 SWITCHING_PROTOCOLS",
                    "102 PROCESSING",
                    "103 EARLY_HINTS",
                    "103 CHECKPOINT",
                    "200 OK",
                    "201 CREATED",
                    "202 ACCEPTED",
                    "203 NON_AUTHORITATIVE_INFORMATION",
                    "204 NO_CONTENT",
                    "205 RESET_CONTENT",
                    "206 PARTIAL_CONTENT",
                    "207 MULTI_STATUS",
                    "208 ALREADY_REPORTED",
                    "226 IM_USED",
                    "300 MULTIPLE_CHOICES",
                    "301 MOVED_PERMANENTLY",
                    "302 FOUND",
                    "302 MOVED_TEMPORARILY",
                    "303 SEE_OTHER",
                    "304 NOT_MODIFIED",
                    "305 USE_PROXY",
                    "307 TEMPORARY_REDIRECT",
                    "308 PERMANENT_REDIRECT",
                    "400 BAD_REQUEST",
                    "401 UNAUTHORIZED",
                    "402 PAYMENT_REQUIRED",
                    "403 FORBIDDEN",
                    "404 NOT_FOUND",
                    "405 METHOD_NOT_ALLOWED",
                    "406 NOT_ACCEPTABLE",
                    "407 PROXY_AUTHENTICATION_REQUIRED",
                    "408 REQUEST_TIMEOUT",
                    "409 CONFLICT",
                    "410 GONE",
                    "411 LENGTH_REQUIRED",
                    "412 PRECONDITION_FAILED",
                    "413 PAYLOAD_TOO_LARGE",
                    "413 REQUEST_ENTITY_TOO_LARGE",
                    "414 URI_TOO_LONG",
                    "414 REQUEST_URI_TOO_LONG",
                    "415 UNSUPPORTED_MEDIA_TYPE",
                    "416 REQUESTED_RANGE_NOT_SATISFIABLE",
                    "417 EXPECTATION_FAILED",
                    "418 I_AM_A_TEAPOT",
                    "419 INSUFFICIENT_SPACE_ON_RESOURCE",
                    "420 METHOD_FAILURE",
                    "421 DESTINATION_LOCKED",
                    "422 UNPROCESSABLE_ENTITY",
                    "423 LOCKED",
                    "424 FAILED_DEPENDENCY",
                    "425 TOO_EARLY",
                    "426 UPGRADE_REQUIRED",
                    "428 PRECONDITION_REQUIRED",
                    "429 TOO_MANY_REQUESTS",
                    "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
                    "451 UNAVAILABLE_FOR_LEGAL_REASONS",
                    "500 INTERNAL_SERVER_ERROR",
                    "501 NOT_IMPLEMENTED",
                    "502 BAD_GATEWAY",
                    "503 SERVICE_UNAVAILABLE",
                    "504 GATEWAY_TIMEOUT",
                    "505 HTTP_VERSION_NOT_SUPPORTED",
                    "506 VARIANT_ALSO_NEGOTIATES",
                    "507 INSUFFICIENT_STORAGE",
                    "508 LOOP_DETECTED",
                    "509 BANDWIDTH_LIMIT_EXCEEDED",
                    "510 NOT_EXTENDED",
                    "511 NETWORK_AUTHENTICATION_REQUIRED"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/flows/{flowId}/draft": {
      "get": {
        "tags": [
          "Flow"
        ],
        "operationId": "getOrCreateDraft",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Flow"
        ],
        "operationId": "saveDraft",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flowType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "FLOW"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlowVersion"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Flow"
                }
              }
            }
          }
        }
      }
    },
    "/{orgId}/project/{projectId}/connector": {
      "get": {
        "tags": [
          "connector-controller"
        ],
        "operationId": "findAllConnectors",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SeqConnector"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "connector-controller"
        ],
        "operationId": "saveConnector",
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
[...]
